.Create {
  width: 800px;
  height: auto;
  background-color: #efffff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.topBar {
  width: 90%;
  display: grid;
  place-items: center;
  grid-template-columns: auto auto auto;
}

.top {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.left {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  row-gap: 8px;
}

.second-column {
  grid-column: 2/4;
}

.left input {
  padding: 8px;
  border: 1px solid #000;
  border-radius: 5px;
}

.right {
  width: 30%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  gap: 20px;
  color: #b1b1b1;
  border: 3px solid #ccc;
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img img {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.resume-name {
  width: 100%;
  display: inline-block;
  padding: 10px;
  text-align: center;
  color: #626262;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.create-buttons {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.create-buttons > button {
  font-size: 16px;
  padding: 6px;
}

.resume-input {
  padding: 6px;
  border-radius: 8px;
  border: 2px solid #496f82;
  background-color: #496f82;
  color: #efffff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.resume-input:hover {
  background-color: #efffff;
  color: #496f82;
}

.file-input {
  width: 100%;
  display: inline-block;
  padding: 10px;
  text-align: center;
  color: #626262;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.file {
  display: none;
}

.Qualification ul {
  list-style: none;
}

ul > li {
  display: grid;
  grid-template-columns: 160px auto;
  align-items: center;
  gap: 12px;
}

ul > li:not(MinusCircle) {
  font-size: 14px;
}

.icon {
  margin-top: 8px;
}

.bottom {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media screen and (max-width: 850px) {
  .Create {
    width: 360px;
    height: auto;
    margin-top: 20px;
  }

  .topBar {
    grid-template-columns: auto auto;
  }

  .top {
    flex-direction: column;
    gap: 20px;
  }

  .left,
  .right {
    width: 100%;
  }

  .left {
    grid-template-columns: 1fr;
  }

  .icon {
    margin-top: 0;
  }
}
